<h1 class="h1">Liste des produits</h1>
<hr />

    <!-- Async -->
<!-- @if ($products) {
    <section class="flex flex-row align-items-center justify-content-center flex-wrap">
        @for (product of ($products | async)?.products; track $index) {
            <p-card >
                <h2>{{product.title}}</h2>
                <div class="flex gap-2 flex-row align-items-start justify-content-center">
                    <img src="../../assets/images/img-product.png" alt="">
                    <div class="info">
                        <p class="font-bold">{{product.price}}</p>
                        <p class="font-bold">{{product.description}}</p>
                    </div>
                </div>
            </p-card>
        }
    </section>

} 
    @if (error) {
       <h1>{{error}}</h1>
    }  -->


    <!-- VM -->
    <section (scroll)="onScroll($event)" class="flex flex-row align-items-center justify-content-center flex-wrap">

    @if (vm$ | async; as vm) {
        @if(vm.status === 'loading') {
            <h1>Chargement ...</h1>
        } @else if(vm.status === "error") {
            <h1>Erreur ...</h1>
        }@else {
            @for (product of vm.result.products; track $index) {
                <p-card >
                    <h2>{{product.title}}</h2>
                    <div class="flex gap-2 flex-row align-items-start justify-content-center">
                        <img src="../../assets/images/img-product.png" alt="">
                        <div class="info">
                            <p class="font-bold">{{product.price}}</p>
                            <p class="font-bold">{{product.description}}</p>
                        </div>
                    </div>
                </p-card>
            }
        }
    }
</section>

